<div id="<%= dom_id vrasset %>">
  <p>
    <strong>Title:</strong>
    <%= vrasset.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vrasset.description %>
  </p>

  <% if vrasset.file.attached? %>
    <p>
      <strong>File:</strong>
      <%= link_to vrasset.file.filename, rails_blob_path(vrasset.file, disposition: 'attachment') %>
    </p>
  <% end %>
</div>
