<div id="<%= dom_id vrasset %>">
  <p>
    <strong>Title:</strong>
    <%= vrasset.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vrasset.description %>
  </p>

  <% if vrasset.image.attached? %>
    <%= image_tag vrasset.image, class:"custom-image-manipulation"%>
  <% end %>
</div>
