<div class="container">
  <div class="row text-center">
    <h1>VR Assets</h1>
  </div>

  <% if user_admin? %>
    <div class="row justify-content-center text-center my-3">
      <div class="col-8">
        <%= link_to "New Asset", new_vrasset_path, class:"btn btn-primary", role:"button" %>
      </div>
    </div>
  <% end %>

  <div id="vrassets" class="row justify-content-center row-cols-md-3 g-3">
    <% @vrassets.each do |vrasset| %>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <%= render vrasset %>

            <%if user_admin? %>
              <%= link_to "Show this vrasset", vrasset, class:"btn btn-outline-secondary", role:"button" %>
            <% end %>

            <% if user_developer? %>
              <%# Functionality to be added later for this %>
              <!-- <a href="">Select and start setup</a>  -->
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  
</div>

