<div class="container">
  <div class="row text-center">
    <h1>VR Assets</h1>
  </div>

  <% if user_admin? %>
    <div class="row justify-content-center text-center my-3">
      <div class="col-8">
        <%= link_to "New Asset", new_vrasset_path, class:"btn btn-primary", role:"button" %>
      </div>
    </div>
  <% end %>

  <div id="vrassets" class="row justify-content-center row-cols-1 g-3 row-cols-md-2 row-cols-xl-3">
    <% @vrassets.each do |vrasset| %>
      <div class="col">
        <div class="card h-100 text-center">
          <div class="card-body">
            <%= render vrasset %>
          </div>
          <div class="card-footer bg-transparent border-top-0 d-grid gap-3">
            <!-- Download button -->
            <% if vrasset.file.attached? %>
              <%# If the user is a developer then allow them to download the file otherwise restrict the download view %>
              <% if user_developer_or_admin? %>
                <%= link_to rails_blob_path(vrasset.file, disposition: 'attachment'), class: "btn btn-success" do  %>
                  Download
                <% end %>
              <% end %>
            <% end %>
  
            <!-- Show asset button -->
            <%if user_admin? %>
              <%= link_to "Show this vrasset", vrasset, class:"btn btn-outline-secondary", role:"button" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  
</div>

