<div id="<%= dom_id advertisement %>">
  <p>
    <strong>Title:</strong>
    <%= advertisement.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= advertisement.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= advertisement.url %>
  </p>

</div>
