<div class="container">
  <div class="row text-center">
      <h1>Advertisements</h1>
  </div>

  <div class="row justify-content-center my-3">
      <div class="container text-center">
        <%= link_to "New advertisement", new_advertisement_path, class:"btn btn-primary", role:"button" %>
      </div>
  </div>

  <div id="advertisements" class="row justify-content-center row-cols-md-3 g-3">
    <% @advertisements.each do |advertisement| %>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <%= render advertisement %> 
            <%= link_to "Show this advertisement", advertisement, class:"btn btn-outline-secondary", role:"button"  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>