@charset "UTF-8";

/* CUSTOM */
.custom-image-manipulation{
    /* Make the image fit the card by scaling it down using CSS */
    width: 100%; 
    height: 400px; 
    object-fit: scale-down; 
  }
  
  